# placeholder comment, don't know what needs exception yet.
# don't upload my API key used for testing!
.env
**/.env

# do-nothing binary (no longer there)
hermes

# coverage text file
coverage.txt

# leave a newline
